<div class="row">
	<timeline-scale tl-scale="eventsEditor.scaleParams" ng-model="eventsEditor.scaleSteps" class="col s12 m3"></timeline-scale>
	<div class="col s12 m9 feed-wrap">
		<ul events-feed ef-steps="eventsEditor.scaleSteps" ef-events="events" class="feed" ef-view-type="editor"></ul>
	</div>
</div>



<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<button tooltipped data-position="left" data-delay="50" data-tooltip="Add" type="button" class="btn-floating btn-large red">
		<i class="large material-icons">add</i>
	</button>
	<ul>
		<li>
			<a modal href="#newEventModal" ng-click="newEvent()" type="button" class="btn-floating red" tooltipped data-position="left" data-delay="50" data-tooltip="New event">
				<i class="material-icons">event</i>
			</a>
		</li>
	</ul>
</div>



<div id="newEventModal" class="modal">
	<div class="modal-content">
		<event-editor ee-event="editingEvent"></event-editor>
	</div>
</div>


